* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.breadcrumps {
  margin: 5% 0;
  height: 330px;
  width: 100%;
  background: url("../../../Utils/Shop/bg-breadcrumb.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.breadcrumps-category {
  display: flex;
  width: 50%;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.shop-category-list {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
}

.single-category {
  text-align: center;
  overflow: hidden;
  flex: 0 0 100%;
  max-width: 13%;
}

.breadcrumps-arrow {
  cursor: pointer;
}

.disabled-arrow {
  cursor: not-allowed;
}

@media screen and (max-width: 755px) and (min-width: 468px) {
  .breadcrumps-category {
    width: 90%;
  }
}

@media (max-width: 468px) {
  .breadcrumps {
    height: 170px;
  }
  .breadcrumps-category {
    display: none;
  }
}
