* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navFixed {
  background-color: #fff;
  box-shadow: 0px 0.2px 10px #666565;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
}

.shop-container {
  margin: 0 30px;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 20px;
}

.shop__category-container {
  border: 1px solid black;
}

.shop__product-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.shop__product-container .single-product {
  border-radius: 10px;
}

.single-product .single-product__img {
  border-radius: 10px;
  height: 300px;
  text-align: center;
  background-color: #f1f1f1;
}

.single-product .single-product__img img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.single-product__content {
  margin: 10px 0 0 10px;
}

.single-product__content #price {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #1e2d5f;
}

.single-product__content #title {
  color: #1e2d5f;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  font-family: montserrat alternates, sans-serif;
}
.shop-category-list div:hover {
  border: none;
}

.single-category .category-img img {
  width: 100%;
  border-radius: 50%;
}

.single-category .category-img img:hover {
  padding: 4px;
  border: 2px solid #878aff;
  cursor: pointer;
}

.shopMain {
  margin: 12% 0;
}

.ProductMain {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.singleProduct {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 2%;
  border-radius: 7px;
  flex: 0 0 22%;
  margin: 4% 0 4% 2%;
  text-align: center;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
}

.singleProduct:hover {
  background-color: rgb(233, 233, 252);
  border-radius: 7px;
  padding: 2%;
  transition: all 0.2s;
}

.singleProductImg {
  width: 90%;
  height: 200px;
  margin: auto;
}

.singleProductImg img {
  width: 100%;
  height: 100%;
}

#reviews {
  margin: 4% 0;
  color: rgb(235, 206, 44);
}

.singlProductFlex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.singlProductFlex i {
  font-size: 20px;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #eee;
  padding: 4%;
  border-radius: 7px;
}

.modalChild {
  display: flex;
  align-items: center;
}

.modalImage {
  width: 40%;
  height: 200px;
}

.modalImage img {
  width: 100%;
  height: 100%;
}

.modalContent {
  margin-left: 2%;
}
.modalContent h4 {
  margin: 4% 0;
}

.modalContent p span {
  color: gray;
  margin-right: 3%;
}

#modal:focus {
  outline: none;
}

.mainModal p {
  margin: 2% 0;
}

.mainModal p span {
  font-weight: 800;
}

@media (max-width: 670px) {
  .singleProduct {
    flex: 0 0 46%;
    margin: 4% 0 4% 3%;
  }
}

@media (max-width: 370px) {
  .ProductMain {
    flex-direction: column;
    margin: auto;
  }

  .singleProduct {
    flex: 0 0 44%;
    margin: 4% 2% 4% 2%;
    padding-bottom: 6%;
  }
}
