* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* OFFERS  */
.offers {
  margin: 60px auto 0;
  width: 80%;
  border-radius: 7px;
  background-color: #c2e3ff;
  padding: 3%;
}
.offers h2 {
  font-family: "DynaPuff", cursive;
  text-align: center;
  color: #323355;
}
.offer-container {
  margin: 2% 0;
  padding: 2% 0;
  display: flex;
}
.offer-container .container1 {
  box-shadow: 1px 1px 6px #808080;
  width: 25%;
  margin-left: 2%;
  border-radius: 7px;
  background-color: white;
  padding: 2% 0;
}
.container1 img {
  width: 80%;
  margin: 10% 0 10% 10%;
  border-radius: 7px;
}
.mainOffer {
  text-align: center;
  color: #323355;
  font-weight: 900;
  margin: 3% 0;
}
.offerFor {
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 2%;
}
.container-last {
  position: relative;
  margin-left: 2%;
  width: 42%;
  height: 100%;
}
.container-last img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.container-last div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #323355;
  color: white;
  padding: 2%;
  border-radius: 0 0 5px 5px;
}

/* BESTSELLERS  */
.BestSellersMain {
  margin: 60px auto 0;
}
.BestSellersMain h2 {
  text-decoration: underline;
  text-align: center;
  color: #323355;
  font-family: "DynaPuff", cursive;
  margin: 3% 0;
}
.bestSeller {
  display: flex;
  flex-wrap: wrap;
}

.bestSeller a {
  flex: 0 0 23%;
  margin-left: 2%;
  text-decoration: none;
  color: black;
}
.bestSellerSingle {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 3% 0;
  transition: all 0.2s;
}
.bestSellerSingle:hover {
  background-color: rgba(178, 179, 241, 0.6);
  border-radius: 7px;
  padding: 2%;
  transition: all 0.2s;
}
.bestSingleImg {
  width: 100%;
}
.bestSingleImg img {
  border-radius: 5px;

  width: 100%;
  height: 180px;
  margin: 3% 0;
  background: transparent;
}
.bestSellerSingle h4 {
  margin: 3% 0;
  color: #323355;
  font-weight: 900;
}

@media (max-width: 580px) {
  .singleBenefit {
    width: 80%;
    margin: auto;
  }
  .offer-container {
    flex-direction: column;
  }
  .offer-container .container1 {
    width: 85%;
    margin: 4% auto;
  }
  .container-last {
    margin: 4% auto;
    width: 85%;
  }
  .bestSeller a {
    flex: 0 0 48%;
    margin-left: 2%;
  }
  .testimonial-section {
    margin: 6% 2%;
    flex-direction: column;
  }
  .testimonialChild {
    margin: 4% auto;
  }
}
