* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonial {
  margin: 60px auto 0;
  width: 75%;
  border-radius: 7px;
  position: relative;
}

.testimonial h2 {
  position: absolute;
  left: 45%;
  top: 5%;
  text-align: center;
  color: #323355;
  font-family: "DynaPuff", cursive;
}

.testimonial-container {
  margin: 3% 0;
  display: flex;
}

.testimonial-img {
  width: 30%;
  border-top-right-radius: 34%;
}

.testimonial-img img {
  border-top-right-radius: 34%;
  height: 100%;
  width: 100%;
}

.testimonial-content {
  padding: 40px 40px;
  background-color: #a1c9d6;
  color: #323355;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  align-self: flex-end;
  width: 70%;
  z-index: -1;
  left: -2%;
}

.testimonial-content blockquote p {
  margin-bottom: 10px;
}
.carousel-icon {
  float: right;
  width: 85px;
  margin-top: 10px;
}

.carousel-icon span {
  background-color: #fff;
  margin-right: 10%;
  padding: 3px 6px;
}
