* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viewCart__stepper {
  width: 38%;
  margin: 110px auto 0;
}

.viewCart__tabs {
  margin: 40px;
}

@media screen and (max-width: 750px) {
  .viewCart__stepper {
    width: 90%;
  }
  .viewCart__tabs {
    margin: 40px 1%;
  }
}
