* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 2% 2%;
}
.nav a {
  text-decoration: none;
}

/* LOGO  */
.logo a {
  color: #878aff;
  font-weight: 900;
  font-size: 2vw;
  font-family: "Dancing Script", cursive;
  font-family: "DynaPuff", cursive;
}
.navContent a {
  margin: 0 10%;
  font-family: "Dancing Script", cursive;
  font-family: "DynaPuff", cursive;
  color: black;
}

/* SEARCH BAR  */
.searchBar {
  width: 50%;
}

#search {
  margin-left: 10%;
  width: 80%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  background: none;
  border-bottom: 1px solid gray;
  padding: 2%;
}

#search:focus {
  outline: none;
}

/* CART  */
.cart {
  width: 20%;

  margin-right: 3%;
}
.cart a {
  border-radius: 5px;
  padding: 1.5%;

  margin: 0 2%;
}
.cart i {
  color: black;
}
.cart #cart {
  color: black;

  position: relative;
}

.cart i #num {
  font-size: 10px;
  padding: 20%;
  background-color: #878aff;
  border-radius: 50%;
  position: absolute;
  color: white;
  bottom: -7px;
}
@media (max-width: 550px) {
  .cart {
    width: 30%;

    margin-right: 3%;
  }
}
@media (max-width: 505px) {
  .searchBar {
    width: 50%;
  }
  .cart {
    margin-right: 5%;
  }
}
