* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.nav a {
  text-decoration: none;
}

/* LOGO  */
.logo a {
  color: #878aff;
  font-weight: 900;
  font-size: 23px;
  font-family: "Dancing Script", cursive;
  font-family: "DynaPuff", cursive;
}

.navContent {
  flex: 0 0 100%;
  max-width: 40%;
}
.navContent a {
  margin: 0 10%;
  font-family: "Dancing Script", cursive;
  font-family: "DynaPuff", cursive;
  color: black;
}

/* SEARCH BAR  */
.searchBar {
  flex: 0 0 100%;
  max-width: 50%;
}

#search {
  margin-left: 10%;
  flex: 0 0 100%;
  max-width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  background: none;
  border-bottom: 1px solid gray;
  padding: 2%;
}

#search:focus {
  outline: none;
}

/* CART  */
.icons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.icons a {
  border-radius: 5px;
  padding: 1.5%;
  margin-right: 20px;
}

#num {
  position: absolute;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: aliceblue;
  padding: 1px 6px;
  top: -9px;
  right: 2px;
  background-color: #9496da;
}

@media (max-width: 550px) {
  .icons {
    width: 30%;
    margin-right: 3%;
  }
}
@media (max-width: 505px) {
  .searchBar {
    width: 50%;
  }
  .icons {
    margin-right: 5%;
  }
}
