* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navFixed {
  background-color: #c3e3ff;
  position: fixed;
  overflow: hidden;
  width: 85%;
  top: 0;
  /* left: 0; */
}
.shopMain {
  margin: 12% 0;
}
/* .filter {
  width: 0%;
  margin: 4% auto;
} */
.ProductMain {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.singleProduct {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 2%;
  border-radius: 7px;
  flex: 0 0 22%;
  margin: 4% 0 4% 2%;
  text-align: center;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
}
.singleProduct:hover {
  background-color: rgb(233, 233, 252);
  border-radius: 7px;
  padding: 2%;
  transition: all 0.2s;
}
.singleProductImg {
  width: 90%;
  height: 200px;
  margin: auto;
  /* border: 1px solid red; */
}
.singleProductImg img {
  width: 100%;
  height: 100%;
  /* margin: auto; */
}
#reviews {
  margin: 4% 0;
  color: rgb(235, 206, 44);
}
.singlProductFlex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.singlProductFlex i {
  font-size: 20px;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #eee;
  /* border: 2px solid #000; */
  padding: 4%;
  border-radius: 7px;
}
.modalChild {
  display: flex;
  align-items: center;
}
.modalImage {
  width: 40%;
  height: 200px;
}
.modalImage img {
  width: 100%;
  height: 100%;
}
.modalContent {
  margin-left: 2%;
}
.modalContent h4 {
  margin: 4% 0;
}
.modalContent p span {
  color: gray;
  margin-right: 3%;
}
#modal:focus {
  outline: none;
}
.mainModal p {
  margin: 2% 0;
}
.mainModal p span {
  font-weight: 800;
  /* margin: 2%; */
}

@media (max-width: 670px) {
  .singleProduct {
    flex: 0 0 46%;
    margin: 4% 0 4% 3%;
  }
}

@media (max-width: 370px) {
  .ProductMain {
    flex-direction: column;
    margin: auto;
  }
  .singleProduct {
    flex: 0 0 44%;
    margin: 4% 2% 4% 2%;
    padding-bottom: 6%;
  }
}
