* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navFixed {
  background-color: #c3e3ff;
  position: fixed;
  overflow: hidden;
  width: 85%;
  top: 0;
}
.wishlist {
  margin-top: 10%;
}
.wishlist h1 {
  text-align: center;
  color: #323355;
  font-family: "DynaPuff", cursive;
}
.wishlistMain {
  margin: 4% 0;
  display: flex;
  flex-wrap: wrap;
}
.singleWishlist {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 2%;
  border-radius: 7px;
  flex: 0 0 22%;
  margin: 4% 0 4% 2%;
  text-align: center;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
}
.singleWishlist:hover {
  background-color: rgb(233, 233, 252);
  border-radius: 7px;
  padding: 2%;
  transition: all 0.2s;
}
.wishlistImage {
  width: 100%;
  height: 200px;
  margin: 0 auto 2%;
  border-bottom: 1px solid #808080;
}
.wishlistImage img {
  width: 100%;
  height: 100%;
}
.wishlistFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.wishlistFlex i {
  font-size: 18px;
}
.singleWishlist h4 {
  text-align: left;
  margin: 3% 0;
}
.singleWishlist p {
  margin: 3% 0;
  text-align: left;
}

@media (max-width: 670px) {
  .singleWishlist {
    flex: 0 0 46%;
    margin: 4% 0 4% 3%;
  }
}

@media (max-width: 370px) {
  .wishlistMain {
    flex-direction: column;
    margin: auto;
  }
  .singleWishlist {
    flex: 0 0 44%;
    margin: 4% 2% 4% 2%;
    padding-bottom: 6%;
  }
}
