* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BestSellersMain {
  margin: 60px auto 0;
}

.BestSellersMain h2 {
  text-align: center;
  color: #323355;
  font-family: "DynaPuff", cursive;
  margin: 3% 0;
}

.bestSeller {
  display: flex;
  flex-wrap: wrap;
}

.bestSeller a {
  flex: 0 0 23%;
  margin-left: 2%;
  text-decoration: none;
  color: black;
}

.bestSellerSingle {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 3% 0;
  transition: all 0.2s;
}

.bestSellerSingle:hover {
  background-color: rgba(178, 179, 241, 0.6);
  border-radius: 7px;
  padding: 2%;
  transition: all 0.2s;
}

.bestSingleImg {
  width: 100%;
}

.bestSingleImg img {
  border-radius: 5px;
  width: 100%;
  height: 180px;
  margin: 3% 0;
  background: transparent;
}

.bestSellerSingle h4 {
  margin: 3% 0;
  color: #323355;
  font-weight: 900;
}
