* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  padding: 2%;
  width: 100%;
  border-bottom: 1px solid hsla(0, 1%, 68%, 0.3);
}

.nav__main-lg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__main-md {
  display: none;
}

/* LOGO  */
.logo a {
  color: #878aff;
  font-weight: 900;
  font-size: 23px;
  font-family: "Dancing Script", cursive;
  font-family: "DynaPuff", cursive;
}

.navContent {
  width: 60%;
  text-align: center;
}

.navContent a {
  margin: 0 4%;
  font-family: "Dancing Script", cursive;
  font-family: "DynaPuff", cursive;
  color: black;
}

/* SEARCH BAR  */
.searchBar {
  flex: 0 0 100%;
  max-width: 50%;
}

#search {
  margin-left: 10%;
  flex: 0 0 100%;
  max-width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  background: none;
  border-bottom: 1px solid gray;
  padding: 2%;
}

#search:focus {
  outline: none;
}

/* CART  */
.icons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.icons a {
  border-radius: 5px;
  padding: 1.5%;
  margin-right: 25px;
}

.show-count {
  position: relative;
}

.show-count__num {
  position: absolute;
  top: -9px;
  right: 10px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: aliceblue;
  padding: 1px 6px;
  background-color: #9496da;
}

@media (max-width: 750px) {
  .nav__main-lg {
    display: none;
  }

  .nav__main-md {
    display: block;
  }

  .nav-md__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__drawer-data {
    display: relative;
  }

  .nav__drawer-data span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .nav__drawer-data #content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }

  .nav__drawer-data a {
    margin: 18px 0;
    color: black;
  }

  .nav__drawer-data a:hover {
    color: #878aff;
  }

  .nav-md__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    z-index: 100;
    padding: 10px 15px 5px;
    align-items: center;
    box-shadow: 0 1px 12px 2px hsla(0, 0%, 56%, 0.3);
    padding: 2% 8%;
  }

  .nav-md__bottom__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-md__bottom__icons a {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
